.container {
  margin-bottom: 1em;
  clear: both;
}

.top100 {
  .photo {
    margin-bottom: 1em;
    .name {
      font-size: 1em;
      text-align: center;
    }
    .artist {
      font-size: 0.9em;
      text-align: center;
    }
  }
}

.pagination-wrapper {
  position: relative;
  .pagination {
    text-align: right;
  }
}
