.pagination {
  margin: 1em 0;
  div {
    display: inline-block;
  }
  .control {
    a,span {
      padding: 8px;
    }
    $current: #86d8f7;
    &.page {
      border: 1px solid #888;
      border-radius: 2px;
      text-align: center;
      &.current {
        background: $current;
        border-color: darken($current, 30%)
      }
    }
  }
}
